In [1]:
from pandas import HDFStore 
from pandas import (
    DataFrame, HDFStore
)
import pandas as pd
import numpy as np
import h5py
import glob
import os
import codecs

In [3]:
#df = pd.read_hdf('pems-bay.h5')
#store = HDFStore('pems-bay.h5')
#os.chdir('./Users/franda/Desktop/cs512/proj/pems-bay.h5')
os.getcwd()

'/Users/franda/Desktop/cs512/proj'

In [4]:
f = h5py.File('pems-bay.h5', 'r')
f.keys()

In [5]:
for group in f.keys():
    print(group)
    print(f[group].name)
    #print(f[group][:].shape)

speed
/speed

In [10]:
store = HDFStore('pems-bay.h5')
#store.close

In [11]:
store['speed']

sensor_id,400001,400017,400030,400040,400045,400052,400057,400059,400065,400069,...,409525,409526,409528,409529,413026,413845,413877,413878,414284,414694
2017-01-01 00:00:00,71.4,67.8,70.5,67.4,68.8,66.6,66.8,68.0,66.8,69.0,...,68.8,67.9,68.8,68.0,69.2,68.9,70.4,68.8,71.1,68.0
2017-01-01 00:05:00,71.6,67.5,70.6,67.5,68.7,66.6,66.8,67.8,66.5,68.2,...,68.4,67.3,68.4,67.6,70.4,68.8,70.1,68.4,70.8,67.4
2017-01-01 00:10:00,71.6,67.6,70.2,67.4,68.7,66.1,66.8,67.8,66.2,67.8,...,68.4,67.4,68.4,67.5,70.2,68.3,69.8,68.4,70.5,67.9
2017-01-01 00:15:00,71.1,67.5,70.3,68.0,68.5,66.7,66.6,67.7,65.9,67.8,...,68.5,67.5,68.5,67.5,70.4,68.7,70.2,68.4,70.8,67.6
2017-01-01 00:20:00,71.7,67.8,70.2,68.1,68.4,66.9,66.1,67.7,66.1,67.8,...,68.5,67.7,68.5,67.4,69.6,69.1,70.0,68.4,71.0,67.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-06-30 23:35:00,70.9,66.3,68.4,61.0,61.8,66.9,66.0,67.4,65.4,69.3,...,64.6,66.8,64.7,61.1,68.4,61.4,70.5,68.2,71.6,66.2
2017-06-30 23:40:00,71.3,66.6,68.7,60.9,62.0,66.2,66.5,68.2,64.9,69.1,...,65.1,67.3,64.8,60.8,69.8,62.2,69.4,68.6,71.6,68.4
2017-06-30 23:45:00,71.4,66.9,68.1,61.1,62.0,66.7,65.8,68.2,64.2,69.1,...,64.9,66.5,64.6,61.3,69.5,63.8,70.6,68.4,71.6,66.6
2017-06-30 23:50:00,72.2,66.5,68.0,61.1,62.5,65.8,67.1,68.3,64.0,67.3,...,64.1,65.9,64.8,61.3,69.6,64.2,70.2,68.7,71.6,68.4
2017-06-30 23:55:00,71.5,66.2,68.4,61.5,62.8,66.1,67.7,68.4,64.9,68.0,...,64.3,66.5,64.8,60.9,70.9,63.4,70.3,68.7,71.6,68.0

In [36]:
data  = store.get('/speed')
head = list(data.columns)
len(head)
print(head)

[400001, 400017, 400030, 400040, 400045, 400052, 400057, 400059, 400065, 400069, 400073, 400084, 400085, 400088, 400096, 400097, 400100, 400104, 400109, 400122, 400147, 400148, 400149, 400158, 400160, 400168, 400172, 400174, 400178, 400185, 400201, 400206, 400209, 400213, 400221, 400222, 400227, 400236, 400238, 400240, 400246, 400253, 400257, 400258, 400268, 400274, 400278, 400280, 400292, 400296, 400298, 400330, 400336, 400343, 400353, 400372, 400394, 400400, 400414, 400418, 400429, 400435, 400436, 400440, 400449, 400457, 400461, 400464, 400479, 400485, 400499, 400507, 400508, 400514, 400519, 400528, 400545, 400560, 400563, 400567, 400581, 400582, 400586, 400637, 400643, 400648, 400649, 400654, 400664, 400665, 400668, 400673, 400677, 400687, 400688, 400690, 400700, 400709, 400713, 400714, 400715, 400717, 400723, 400743, 400750, 400760, 400772, 400790, 400792, 400794, 400799, 400804, 400822, 400823, 400828, 400832, 400837, 400842, 400863, 400869, 400873, 400895, 400904, 400907, 400911, 400916, 400922, 400934, 400951, 400952, 400953, 400964, 400965, 400970, 400971, 400973, 400995, 400996, 401014, 401129, 401154, 401163, 401167, 401210, 401224, 401327, 401351, 401388, 401391, 401400, 401403, 401440, 401457, 401464, 401489, 401495, 401507, 401534, 401541, 401555, 401560, 401567, 401597, 401606, 401611, 401655, 401808, 401809, 401810, 401811, 401816, 401817, 401845, 401846, 401890, 401891, 401906, 401908, 401926, 401936, 401937, 401942, 401943, 401948, 401957, 401958, 401994, 401996, 401997, 401998, 402056, 402057, 402058, 402059, 402060, 402061, 402067, 402117, 402118, 402119, 402120, 402121, 402281, 402282, 402283, 402284, 402285, 402286, 402287, 402288, 402289, 402359, 402360, 402361, 402362, 402363, 402364, 402365, 402366, 402367, 402368, 402369, 402370, 402371, 402372, 402373, 403225, 403265, 403329, 403401, 403402, 403404, 403406, 403409, 403412, 403414, 403419, 404370, 404434, 404435, 404444, 404451, 404452, 404453, 404461, 404462, 404521, 404522, 404553, 404554, 404585, 404586, 404640, 404753, 404759, 405613, 405619, 405701, 407150, 407151, 407152, 407153, 407155, 407157, 407161, 407165, 407172, 407173, 407174, 407176, 407177, 407179, 407180, 407181, 407184, 407185, 407186, 407187, 407190, 407191, 407194, 407200, 407202, 407204, 407206, 407207, 407321, 407323, 407325, 407328, 407331, 407332, 407335, 407336, 407337, 407339, 407341, 407342, 407344, 407348, 407352, 407359, 407360, 407361, 407364, 407367, 407370, 407372, 407373, 407374, 407710, 407711, 408907, 408911, 409524, 409525, 409526, 409528, 409529, 413026, 413845, 413877, 413878, 414284, 414694]

In [38]:
#df  = pd.read_csv('./extract data/d04_text_station_5min_2022_01_01.txt', delimiter=',', header = None)
#df

In [39]:
# df1 = df.iloc[:, [0, 1,11]]
# df1

In [40]:
os.getcwd()

'/Users/franda/Desktop/cs512/proj'

In [41]:
os.chdir('./extract data/extract_Jan')
os.getcwd()

'/Users/franda/Desktop/cs512/proj/extract data/extract_Jan'

# Merge data files

In [ ]:
# files = glob.glob('*.txt')
#len(files)

In [7]:
#all = codecs.open('all_Jan.txt', 'a')

In [8]:
# for filename in files:  
#         print(filename)  
#         fopen=codecs.open(filename,'r',encoding='utf-8')  
#         lines=[]  
#         lines=fopen.readlines()  
#         fopen.close()  
#         i=0  
#         for line in lines:    
#             for x in line:  
#                 all.write(x)

d04_text_station_5min_2022_01_19.txt
d04_text_station_5min_2022_01_31.txt
d04_text_station_5min_2022_01_25.txt
d04_text_station_5min_2022_01_24.txt
d04_text_station_5min_2022_01_30.txt
d04_text_station_5min_2022_01_18.txt
d04_text_station_5min_2022_01_26.txt
d04_text_station_5min_2022_01_27.txt
d04_text_station_5min_2022_01_23.txt
d04_text_station_5min_2022_01_22.txt
d04_text_station_5min_2022_01_20.txt
d04_text_station_5min_2022_01_08.txt
d04_text_station_5min_2022_01_09.txt
d04_text_station_5min_2022_01_21.txt
d04_text_station_5min_2022_01_10.txt
d04_text_station_5min_2022_01_04.txt
d04_text_station_5min_2022_01_05.txt
d04_text_station_5min_2022_01_11.txt
d04_text_station_5min_2022_01_07.txt
d04_text_station_5min_2022_01_13.txt
d04_text_station_5min_2022_01_12.txt
d04_text_station_5min_2022_01_06.txt
d04_text_station_5min_2022_01_02.txt
d04_text_station_5min_2022_01_16.txt
d04_text_station_5min_2022_01_17.txt
d04_text_station_5min_2022_01_03.txt
d04_text_station_5min_2022_01_15.txt
d04_text_station_5min_2022_01_01.txt
d04_text_station_5min_2022_01_29.txt
d04_text_station_5min_2022_01_28.txt
d04_text_station_5min_2022_01_14.txt

# Save raw data and start data preprocessing

In [42]:
df_Jan  = pd.read_csv('all_Jan.txt', delimiter=',', header = None)
df_Jan

,0,1,2,3,4,5,6,7,8,9,...,42,43,44,45,46,47,48,49,50,51
0,01/19/2022 00:00:00,400000,4,101,S,ML,0.415,40,100,19.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
1,01/19/2022 00:00:00,400001,4,101,N,ML,0.265,50,100,30.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
2,01/19/2022 00:00:00,400002,4,101,S,ML,0.310,50,0,174.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
3,01/19/2022 00:00:00,400006,4,880,S,ML,0.340,40,100,74.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
4,01/19/2022 00:00:00,400007,4,101,N,ML,0.365,50,0,107.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35629939,01/14/2022 23:55:00,426457,4,84,S,ML,0.400,30,0,162.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
35629940,01/14/2022 23:55:00,426458,4,84,S,ML,0.435,30,0,162.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
35629941,01/14/2022 23:55:00,426459,4,84,S,FR,NaN,10,0,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
35629942,01/14/2022 23:55:00,426460,4,84,S,OR,NaN,20,0,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0
35629943,01/14/2022 23:55:00,426461,4,84,S,ML,0.360,40,0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
#Take Timestamp, sensor_id and Avg speed columns out.
df_Jan_tmp = df_Jan.iloc[:, [0, 1,11]]
df_Jan_tmp

                           0       1     11
0         01/19/2022 00:00:00  400000  67.0
1         01/19/2022 00:00:00  400001  69.9
2         01/19/2022 00:00:00  400002  65.4
3         01/19/2022 00:00:00  400006  67.4
4         01/19/2022 00:00:00  400007  68.5
...                       ...     ...   ...
35629939  01/14/2022 23:55:00  426457  69.1
35629940  01/14/2022 23:55:00  426458  69.1
35629941  01/14/2022 23:55:00  426459   NaN
35629942  01/14/2022 23:55:00  426460   NaN
35629943  01/14/2022 23:55:00  426461  60.2

[35629944 rows x 3 columns]

In [47]:
#Pick 325 sensor_id
#df_Jan.to_csv('Jan_tmp')
id_array = np.asarray(head)
id_array

array([400001, 400017, 400030, 400040, 400045, 400052, 400057, 400059,
       400065, 400069, 400073, 400084, 400085, 400088, 400096, 400097,
       400100, 400104, 400109, 400122, 400147, 400148, 400149, 400158,
       400160, 400168, 400172, 400174, 400178, 400185, 400201, 400206,
       400209, 400213, 400221, 400222, 400227, 400236, 400238, 400240,
       400246, 400253, 400257, 400258, 400268, 400274, 400278, 400280,
       400292, 400296, 400298, 400330, 400336, 400343, 400353, 400372,
       400394, 400400, 400414, 400418, 400429, 400435, 400436, 400440,
       400449, 400457, 400461, 400464, 400479, 400485, 400499, 400507,
       400508, 400514, 400519, 400528, 400545, 400560, 400563, 400567,
       400581, 400582, 400586, 400637, 400643, 400648, 400649, 400654,
       400664, 400665, 400668, 400673, 400677, 400687, 400688, 400690,
       400700, 400709, 400713, 400714, 400715, 400717, 400723, 400743,
       400750, 400760, 400772, 400790, 400792, 400794, 400799, 400804,
       400822, 400823, 400828, 400832, 400837, 400842, 400863, 400869,
       400873, 400895, 400904, 400907, 400911, 400916, 400922, 400934,
       400951, 400952, 400953, 400964, 400965, 400970, 400971, 400973,
       400995, 400996, 401014, 401129, 401154, 401163, 401167, 401210,
       401224, 401327, 401351, 401388, 401391, 401400, 401403, 401440,
       401457, 401464, 401489, 401495, 401507, 401534, 401541, 401555,
       401560, 401567, 401597, 401606, 401611, 401655, 401808, 401809,
       401810, 401811, 401816, 401817, 401845, 401846, 401890, 401891,
       401906, 401908, 401926, 401936, 401937, 401942, 401943, 401948,
       401957, 401958, 401994, 401996, 401997, 401998, 402056, 402057,
       402058, 402059, 402060, 402061, 402067, 402117, 402118, 402119,
       402120, 402121, 402281, 402282, 402283, 402284, 402285, 402286,
       402287, 402288, 402289, 402359, 402360, 402361, 402362, 402363,
       402364, 402365, 402366, 402367, 402368, 402369, 402370, 402371,
       402372, 402373, 403225, 403265, 403329, 403401, 403402, 403404,
       403406, 403409, 403412, 403414, 403419, 404370, 404434, 404435,
       404444, 404451, 404452, 404453, 404461, 404462, 404521, 404522,
       404553, 404554, 404585, 404586, 404640, 404753, 404759, 405613,
       405619, 405701, 407150, 407151, 407152, 407153, 407155, 407157,
       407161, 407165, 407172, 407173, 407174, 407176, 407177, 407179,
       407180, 407181, 407184, 407185, 407186, 407187, 407190, 407191,
       407194, 407200, 407202, 407204, 407206, 407207, 407321, 407323,
       407325, 407328, 407331, 407332, 407335, 407336, 407337, 407339,
       407341, 407342, 407344, 407348, 407352, 407359, 407360, 407361,
       407364, 407367, 407370, 407372, 407373, 407374, 407710, 407711,
       408907, 408911, 409524, 409525, 409526, 409528, 409529, 413026,
       413845, 413877, 413878, 414284, 414694])

In [46]:
filter_df = df_Jan_tmp[df_Jan_tmp[1].isin(id_array)]

                           0       1     11
1         01/19/2022 00:00:00  400001  69.9
9         01/19/2022 00:00:00  400017  62.2
14        01/19/2022 00:00:00  400030  69.0
19        01/19/2022 00:00:00  400040  67.2
23        01/19/2022 00:00:00  400045  68.2
...                       ...     ...   ...
35629382  01/14/2022 23:55:00  413845  63.4
35629388  01/14/2022 23:55:00  413877  67.7
35629389  01/14/2022 23:55:00  413878  68.3
35629453  01/14/2022 23:55:00  414284  70.9
35629473  01/14/2022 23:55:00  414694  66.9

[2856848 rows x 3 columns]

In [48]:
filter_df.columns = ['Timestamp', 'sensor_id', 'Avg_speed']
filter_df

                    Timestamp  sensor_id  Avg_speed
1         01/19/2022 00:00:00     400001       69.9
9         01/19/2022 00:00:00     400017       62.2
14        01/19/2022 00:00:00     400030       69.0
19        01/19/2022 00:00:00     400040       67.2
23        01/19/2022 00:00:00     400045       68.2
...                       ...        ...        ...
35629382  01/14/2022 23:55:00     413845       63.4
35629388  01/14/2022 23:55:00     413877       67.7
35629389  01/14/2022 23:55:00     413878       68.3
35629453  01/14/2022 23:55:00     414284       70.9
35629473  01/14/2022 23:55:00     414694       66.9

[2856848 rows x 3 columns]

# Pivot table

In [49]:
pivoted = filter_df.pivot(index = 'Timestamp', columns = 'sensor_id', values = 'Avg_speed')
pivoted

sensor_id,400001,400017,400030,400040,400045,400052,400057,400059,400065,400069,...,409525,409526,409528,409529,413026,413845,413877,413878,414284,414694
Timestamp,,,,,,,,,,,,,,,,,,,,,
01/01/2022 00:00:00,71.8,68.1,68.1,67.9,68.1,68.8,68.2,68.2,66.7,69.8,...,67.6,68.2,66.2,68.2,72.4,68.7,69.8,68.3,71.4,67.8
01/01/2022 00:05:00,71.1,68.0,68.1,67.4,68.0,68.7,68.0,68.2,66.4,69.1,...,67.7,68.0,66.5,68.0,72.6,68.7,70.2,68.2,71.3,68.4
01/01/2022 00:10:00,70.9,68.0,68.1,67.7,68.0,68.5,68.0,67.3,66.5,69.7,...,67.3,68.0,66.1,68.0,72.1,67.9,70.1,68.0,71.0,67.5
01/01/2022 00:15:00,71.3,67.8,68.2,67.6,67.8,69.0,67.9,67.7,66.1,68.4,...,67.7,67.9,66.6,67.9,71.5,67.9,69.9,68.0,70.4,67.6
01/01/2022 00:20:00,70.7,67.8,68.0,67.3,67.8,68.0,67.9,67.6,66.6,66.9,...,67.7,67.9,65.5,67.9,70.4,68.8,70.4,67.5,70.8,68.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
01/31/2022 23:35:00,71.1,61.9,67.5,68.4,67.7,66.9,65.6,66.8,65.3,68.6,...,67.4,62.5,65.8,62.2,70.9,59.5,70.2,67.9,71.2,66.8
01/31/2022 23:40:00,70.9,61.9,68.5,67.2,67.7,65.6,65.4,67.2,66.6,70.2,...,66.5,62.1,65.9,62.0,70.6,58.9,69.0,68.0,70.9,66.3
01/31/2022 23:45:00,70.2,62.1,68.3,67.6,67.7,65.6,65.9,67.1,65.7,70.0,...,67.5,62.2,66.0,62.6,71.7,59.1,69.7,68.0,71.0,67.6
01/31/2022 23:50:00,70.1,61.8,67.4,68.8,67.8,67.0,65.9,67.9,66.0,69.1,...,67.4,62.5,66.5,62.3,71.9,59.4,70.0,68.1,71.5,67.0
01/31/2022 23:55:00,70.9,62.0,68.3,67.1,67.5,66.9,66.1,66.6,66.3,67.3,...,68.8,62.3,66.6,62.1,72.0,58.8,70.9,67.9,71.4,68.1

In [51]:
pivoted.to_csv('Jan_data.csv')

# Apply to rest data

In [57]:
os.chdir('./extract_Feb')
os.getcwd()

'/Users/franda/Desktop/cs512/proj/extract data/extract_Feb'

In [60]:
files = glob.glob('*.txt')
print(len(files))
all = codecs.open('all_Feb.txt', 'a')
for filename in files:  
        print(filename)  
        fopen=codecs.open(filename,'r',encoding='utf-8')  
        lines=[]  
        lines=fopen.readlines()  
        fopen.close()  
        i=0  
        for line in lines:    
            for x in line:  
                all.write(x)

28
d04_text_station_5min_2022_02_03.txt
d04_text_station_5min_2022_02_17.txt
d04_text_station_5min_2022_02_16.txt
d04_text_station_5min_2022_02_02.txt
d04_text_station_5min_2022_02_14.txt
d04_text_station_5min_2022_02_28.txt
d04_text_station_5min_2022_02_01.txt
d04_text_station_5min_2022_02_15.txt
d04_text_station_5min_2022_02_11.txt
d04_text_station_5min_2022_02_05.txt
d04_text_station_5min_2022_02_04.txt
d04_text_station_5min_2022_02_10.txt
d04_text_station_5min_2022_02_06.txt
d04_text_station_5min_2022_02_12.txt
d04_text_station_5min_2022_02_13.txt
d04_text_station_5min_2022_02_07.txt
d04_text_station_5min_2022_02_22.txt
d04_text_station_5min_2022_02_23.txt
d04_text_station_5min_2022_02_21.txt
d04_text_station_5min_2022_02_09.txt
d04_text_station_5min_2022_02_08.txt
d04_text_station_5min_2022_02_20.txt
d04_text_station_5min_2022_02_18.txt
d04_text_station_5min_2022_02_24.txt
d04_text_station_5min_2022_02_25.txt
d04_text_station_5min_2022_02_19.txt
d04_text_station_5min_2022_02_27.txt
d04_text_station_5min_2022_02_26.txt

In [61]:
df_Feb  = pd.read_csv('all_Feb.txt', delimiter=',', header = None)
df

,0,1,2,3,4,5,6,7,8,9,...,42,43,44,45,46,47,48,49,50,51
0,02/17/2022 00:00:00,400000,4,101,S,ML,0.415,40,100,23.0,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
1,02/17/2022 00:00:00,400001,4,101,N,ML,0.265,50,0,35.0,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
2,02/17/2022 00:00:00,400002,4,101,S,ML,0.310,50,0,172.0,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
3,02/17/2022 00:00:00,400006,4,880,S,ML,0.340,40,75,97.0,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
4,02/17/2022 00:00:00,400007,4,101,N,ML,0.365,50,0,93.0,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1154299,02/17/2022 23:55:00,426772,4,580,W,ML,4.025,0,0,170.0,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
1154300,02/17/2022 23:55:00,426773,4,580,W,FR,NaN,0,0,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
1154301,02/17/2022 23:55:00,426775,4,580,W,OR,NaN,0,0,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
1154302,02/17/2022 23:55:00,426825,4,680,S,FR,NaN,0,0,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0
1154303,02/17/2022 23:55:00,426826,4,680,S,OR,NaN,0,0,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0

In [63]:
df_Feb_tmp = df_Feb.iloc[:, [0, 1,11]]
filter_feb = df_Feb_tmp[df_Feb_tmp[1].isin(id_array)]
filter_feb.columns = ['Timestamp', 'sensor_id', 'Avg_speed']
pivoted_feb = filter_feb.pivot(index = 'Timestamp', columns = 'sensor_id', values = 'Avg_speed')
#pivoted_feb

sensor_id,400001.0,400017.0,400030.0,400040.0,400045.0,400052.0,400057.0,400059.0,400065.0,400069.0,...,409525.0,409526.0,409528.0,409529.0,413026.0,413845.0,413877.0,413878.0,414284.0,414694.0
Timestamp,,,,,,,,,,,,,,,,,,,,,
02/01/2022 00:00:00,70.7,62.0,68.2,67.9,68.2,65.3,65.9,68.1,66.9,68.8,...,68.1,62.3,66.5,62.0,71.6,64.0,70.1,68.1,70.6,67.5
02/01/2022 00:05:00,71.2,62.1,68.1,66.8,68.1,66.1,65.9,67.0,65.2,67.7,...,66.7,62.4,65.7,62.1,71.6,63.7,69.2,67.9,70.7,66.1
02/01/2022 00:10:00,70.7,62.0,68.2,67.6,67.8,66.4,65.9,66.9,67.7,68.4,...,67.1,62.6,65.8,62.1,71.0,64.9,69.6,68.3,71.0,67.5
02/01/2022 00:15:00,71.5,61.9,68.0,67.4,67.9,66.0,65.8,67.2,66.1,67.8,...,68.4,62.6,65.7,62.3,71.5,64.4,69.8,68.0,70.5,67.5
02/01/2022 00:20:00,70.9,61.9,67.9,67.5,67.8,66.2,65.9,65.9,66.0,69.7,...,66.9,62.2,66.9,61.9,72.1,64.4,70.2,68.3,71.8,67.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
02/28/2022 23:35:00,70.7,62.0,67.2,66.9,72.7,63.8,67.5,68.0,65.7,64.3,...,63.3,66.2,65.0,61.1,72.1,68.6,68.8,68.2,70.3,66.5
02/28/2022 23:40:00,71.6,62.1,67.9,67.2,72.7,63.9,67.7,68.0,66.4,64.5,...,63.7,66.2,65.0,60.7,72.8,67.4,68.3,68.0,71.4,66.9
02/28/2022 23:45:00,71.9,62.2,67.9,66.6,72.1,63.6,66.8,66.7,66.8,64.5,...,63.2,66.2,64.4,60.4,72.7,68.2,70.6,68.0,71.5,67.5
02/28/2022 23:50:00,71.9,61.9,67.7,66.2,71.8,63.5,66.8,67.4,65.5,64.9,...,64.1,66.2,64.2,60.4,71.9,68.2,70.1,67.8,70.8,67.7
02/28/2022 23:55:00,72.0,62.1,68.1,66.0,70.7,63.7,67.5,67.1,65.6,64.4,...,64.2,66.1,64.3,60.4,71.8,68.2,69.9,68.0,70.9,68.0

In [64]:
pivoted_feb.to_csv('Feb_data.csv')

In [65]:
df_12 = pd.concat([pivoted, pivoted_feb])
df_12

sensor_id,400001.0,400017.0,400030.0,400040.0,400045.0,400052.0,400057.0,400059.0,400065.0,400069.0,...,409525.0,409526.0,409528.0,409529.0,413026.0,413845.0,413877.0,413878.0,414284.0,414694.0
Timestamp,,,,,,,,,,,,,,,,,,,,,
01/01/2022 00:00:00,71.8,68.1,68.1,67.9,68.1,68.8,68.2,68.2,66.7,69.8,...,67.6,68.2,66.2,68.2,72.4,68.7,69.8,68.3,71.4,67.8
01/01/2022 00:05:00,71.1,68.0,68.1,67.4,68.0,68.7,68.0,68.2,66.4,69.1,...,67.7,68.0,66.5,68.0,72.6,68.7,70.2,68.2,71.3,68.4
01/01/2022 00:10:00,70.9,68.0,68.1,67.7,68.0,68.5,68.0,67.3,66.5,69.7,...,67.3,68.0,66.1,68.0,72.1,67.9,70.1,68.0,71.0,67.5
01/01/2022 00:15:00,71.3,67.8,68.2,67.6,67.8,69.0,67.9,67.7,66.1,68.4,...,67.7,67.9,66.6,67.9,71.5,67.9,69.9,68.0,70.4,67.6
01/01/2022 00:20:00,70.7,67.8,68.0,67.3,67.8,68.0,67.9,67.6,66.6,66.9,...,67.7,67.9,65.5,67.9,70.4,68.8,70.4,67.5,70.8,68.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
02/28/2022 23:35:00,70.7,62.0,67.2,66.9,72.7,63.8,67.5,68.0,65.7,64.3,...,63.3,66.2,65.0,61.1,72.1,68.6,68.8,68.2,70.3,66.5
02/28/2022 23:40:00,71.6,62.1,67.9,67.2,72.7,63.9,67.7,68.0,66.4,64.5,...,63.7,66.2,65.0,60.7,72.8,67.4,68.3,68.0,71.4,66.9
02/28/2022 23:45:00,71.9,62.2,67.9,66.6,72.1,63.6,66.8,66.7,66.8,64.5,...,63.2,66.2,64.4,60.4,72.7,68.2,70.6,68.0,71.5,67.5
02/28/2022 23:50:00,71.9,61.9,67.7,66.2,71.8,63.5,66.8,67.4,65.5,64.9,...,64.1,66.2,64.2,60.4,71.9,68.2,70.1,67.8,70.8,67.7
02/28/2022 23:55:00,72.0,62.1,68.1,66.0,70.7,63.7,67.5,67.1,65.6,64.4,...,64.2,66.1,64.3,60.4,71.8,68.2,69.9,68.0,70.9,68.0

In [69]:
os.chdir('./extract_Mar/')
os.getcwd()

'/Users/franda/Desktop/cs512/proj/extract data/extract_Mar'

In [70]:
files = glob.glob('*.txt')
print(len(files))
all = codecs.open('all_Mar.txt', 'a')
for filename in files:  
        print(filename)  
        fopen=codecs.open(filename,'r',encoding='utf-8')  
        lines=[]  
        lines=fopen.readlines()  
        fopen.close()  
        i=0  
        for line in lines:    
            for x in line:  
                all.write(x)
df_Mar  = pd.read_csv('all_Mar.txt', delimiter=',', header = None)
df_Mar_tmp = df_Mar.iloc[:, [0, 1,11]]
filter_mar = df_Mar_tmp[df_Mar_tmp[1].isin(id_array)]
filter_mar.columns = ['Timestamp', 'sensor_id', 'Avg_speed']
pivoted_mar = filter_mar.pivot(index = 'Timestamp', columns = 'sensor_id', values = 'Avg_speed')
pivoted_mar

31
d04_text_station_5min_2022_03_08.txt
d04_text_station_5min_2022_03_20.txt
d04_text_station_5min_2022_03_21.txt
d04_text_station_5min_2022_03_09.txt
d04_text_station_5min_2022_03_23.txt
d04_text_station_5min_2022_03_22.txt
d04_text_station_5min_2022_03_26.txt
d04_text_station_5min_2022_03_27.txt
d04_text_station_5min_2022_03_31.txt
d04_text_station_5min_2022_03_25.txt
d04_text_station_5min_2022_03_19.txt
d04_text_station_5min_2022_03_18.txt
d04_text_station_5min_2022_03_24.txt
d04_text_station_5min_2022_03_30.txt
d04_text_station_5min_2022_03_29.txt
d04_text_station_5min_2022_03_15.txt
d04_text_station_5min_2022_03_01.txt
d04_text_station_5min_2022_03_14.txt
d04_text_station_5min_2022_03_28.txt
d04_text_station_5min_2022_03_02.txt
d04_text_station_5min_2022_03_16.txt
d04_text_station_5min_2022_03_17.txt
d04_text_station_5min_2022_03_03.txt
d04_text_station_5min_2022_03_07.txt
d04_text_station_5min_2022_03_13.txt
d04_text_station_5min_2022_03_12.txt
d04_text_station_5min_2022_03_06.txt
d04_text_station_5min_2022_03_10.txt
d04_text_station_5min_2022_03_04.txt
d04_text_station_5min_2022_03_05.txt
d04_text_station_5min_2022_03_11.txt

sensor_id,400001,400017,400030,400040,400045,400052,400057,400059,400065,400069,...,409525,409526,409528,409529,413026,413845,413877,413878,414284,414694
Timestamp,,,,,,,,,,,,,,,,,,,,,
03/01/2022 00:00:00,71.7,62.2,67.8,65.3,70.7,63.5,66.8,69.1,66.2,73.9,...,64.3,66.2,64.4,61.2,71.7,61.4,67.3,68.0,71.3,67.8
03/01/2022 00:05:00,71.9,62.1,68.2,65.6,71.5,63.7,66.5,68.3,64.8,71.9,...,64.1,66.3,64.3,61.2,72.1,61.7,66.9,67.9,71.3,67.7
03/01/2022 00:10:00,71.5,61.9,68.4,65.9,70.6,63.4,67.1,67.2,66.8,71.9,...,64.3,66.2,64.4,61.2,71.7,61.3,66.7,67.9,71.5,68.2
03/01/2022 00:15:00,71.3,61.7,68.3,65.5,70.0,63.3,65.0,68.6,64.8,69.9,...,64.3,66.2,64.2,61.2,72.5,61.5,66.3,67.9,70.7,66.3
03/01/2022 00:20:00,72.5,61.9,68.1,65.2,70.0,63.4,66.0,68.2,65.3,68.9,...,64.2,66.1,64.1,61.2,72.7,61.0,66.0,67.9,70.3,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
03/31/2022 23:35:00,70.9,62.2,64.1,68.7,71.3,66.7,65.7,67.5,66.0,70.0,...,68.2,61.8,68.4,62.8,72.6,67.8,67.7,67.9,72.1,65.0
03/31/2022 23:40:00,70.2,62.2,64.6,68.4,70.0,66.1,67.3,67.8,66.3,71.5,...,68.2,61.8,65.9,63.2,71.4,67.7,67.5,68.2,70.6,65.1
03/31/2022 23:45:00,70.3,62.2,64.7,68.4,71.4,66.2,66.6,67.6,67.0,70.7,...,66.6,61.2,68.4,64.3,72.1,67.7,67.6,68.0,71.5,65.0
03/31/2022 23:50:00,70.6,62.2,64.6,66.9,70.9,66.0,67.2,67.7,66.1,70.0,...,66.7,61.6,67.4,64.2,72.5,67.5,67.4,68.1,72.2,64.9
03/31/2022 23:55:00,70.0,62.2,64.5,67.3,70.7,67.0,66.6,67.3,66.5,71.4,...,66.9,62.0,66.5,63.7,72.0,67.5,67.7,68.1,71.5,65.0

In [71]:
def get_pivoted_table(path):
    os.chdir(path)
    os.getcwd()
    files = glob.glob('*.txt')
    print(len(files))
    all = codecs.open('all_Mar.txt', 'a')
    for filename in files:  
        print(filename)  
        fopen=codecs.open(filename,'r',encoding='utf-8')  
        lines=[]  
        lines=fopen.readlines()  
        fopen.close()  
        i=0  
        for line in lines:    
            for x in line:  
                all.write(x)
    df  = pd.read_csv('all_Mar.txt', delimiter=',', header = None)
    df_tmp = df_Mar.iloc[:, [0, 1,11]]
    filtered = df_tmp[df_tmp[1].isin(id_array)]
    filtered.columns = ['Timestamp', 'sensor_id', 'Avg_speed']
    pivoted = filtered.pivot(index = 'Timestamp', columns = 'sensor_id', values = 'Avg_speed')
    os.chdir('..')
    os.getcwd()
    return pivoted

In [72]:
df_Jan_to_Mar = pd.concat([pivoted, pivoted_feb, pivoted_mar])
df_Jan_to_Mar

sensor_id,400001.0,400017.0,400030.0,400040.0,400045.0,400052.0,400057.0,400059.0,400065.0,400069.0,...,409525.0,409526.0,409528.0,409529.0,413026.0,413845.0,413877.0,413878.0,414284.0,414694.0
Timestamp,,,,,,,,,,,,,,,,,,,,,
01/01/2022 00:00:00,71.8,68.1,68.1,67.9,68.1,68.8,68.2,68.2,66.7,69.8,...,67.6,68.2,66.2,68.2,72.4,68.7,69.8,68.3,71.4,67.8
01/01/2022 00:05:00,71.1,68.0,68.1,67.4,68.0,68.7,68.0,68.2,66.4,69.1,...,67.7,68.0,66.5,68.0,72.6,68.7,70.2,68.2,71.3,68.4
01/01/2022 00:10:00,70.9,68.0,68.1,67.7,68.0,68.5,68.0,67.3,66.5,69.7,...,67.3,68.0,66.1,68.0,72.1,67.9,70.1,68.0,71.0,67.5
01/01/2022 00:15:00,71.3,67.8,68.2,67.6,67.8,69.0,67.9,67.7,66.1,68.4,...,67.7,67.9,66.6,67.9,71.5,67.9,69.9,68.0,70.4,67.6
01/01/2022 00:20:00,70.7,67.8,68.0,67.3,67.8,68.0,67.9,67.6,66.6,66.9,...,67.7,67.9,65.5,67.9,70.4,68.8,70.4,67.5,70.8,68.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
03/31/2022 23:35:00,70.9,62.2,64.1,68.7,71.3,66.7,65.7,67.5,66.0,70.0,...,68.2,61.8,68.4,62.8,72.6,67.8,67.7,67.9,72.1,65.0
03/31/2022 23:40:00,70.2,62.2,64.6,68.4,70.0,66.1,67.3,67.8,66.3,71.5,...,68.2,61.8,65.9,63.2,71.4,67.7,67.5,68.2,70.6,65.1
03/31/2022 23:45:00,70.3,62.2,64.7,68.4,71.4,66.2,66.6,67.6,67.0,70.7,...,66.6,61.2,68.4,64.3,72.1,67.7,67.6,68.0,71.5,65.0
03/31/2022 23:50:00,70.6,62.2,64.6,66.9,70.9,66.0,67.2,67.7,66.1,70.0,...,66.7,61.6,67.4,64.2,72.5,67.5,67.4,68.1,72.2,64.9
03/31/2022 23:55:00,70.0,62.2,64.5,67.3,70.7,67.0,66.6,67.3,66.5,71.4,...,66.9,62.0,66.5,63.7,72.0,67.5,67.7,68.1,71.5,65.0

In [73]:
df_Jan_to_Mar.to_csv('Jan_to_Mar_data.csv')